BraveSoftware/
dconf/
gtk-3.0/
pulse/
systemd/
QtProject.conf
gh/
Code - OSS/
Arduino IDE/
arduino-ide/
Electron/
Raspberry Pi/
blender/
discord/
google-chrome-for-testing/
google-chrome
obsidian/
obs-studio/logs/
